
<div class="container mt-5">
    <nav class="nav m-5 justify-content-center">
        <a class="nav-link" aria-current="page" href="/home">
            Home
        </a>
        <a class="nav-link" aria-current="page" href="/login">
        Login
        </a>
        <a class="nav-link" aria-current="page" href="/chat">
            Chat
        </a>
        <a class="nav-link" aria-current="page" href="/api/carts">
        Carritos
        </a>
        <a class="nav-link" aria-current="page" href="/api/products">
            Productos
        </a>
        <a class="nav-link" aria-current="page" href="/realtimeproducts">
            Real Time Products
        </a>
        <a class="nav-link" aria-current="page" href="/profile">
            Perfil de Usuario
        </a>
    </nav>
</div>
<label>Mensaje:</label>
<input type="text" id="message-input">
<button id="send-message-btn">Enviar</button>
<h1>Chat:</h1>
<div id="chat-container"></div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>